.button {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.createButton {
  width: 90px;
  height: 52px;

  background: var(--blue-dark);
  border-radius: 8px;

  font-weight: bold;
  gap: 0.5rem;
  color: var(--gray-100);
}

.createButton:hover {
  background: var(--blue);
}

.deleteButton {
  color: var(--gray-300);
}

.deleteButton:hover {
  color: var(--danger);
}
