.won-games__logo {
  color: var(--white);

  font-size: var(--font-xxl);
  font-variant: small-caps;

  width: fit-content;
}

.won-games__logo svg {
  width: 70px;
  height: 70px;
}

.logo-text-white {
  color: var(--white);
}

.logo-text-black {
  color: var(--black);
}

.logo-normal {
  width: 11rem;
  height: 3.3rem;
}

.logo-large {
  width: 20rem;
  height: 5.9rem;
}
